<a href="https://colab.research.google.com/github/ngocphuoc317/ngocphuoc.github.io/blob/main/buoi02_bai_tap_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python 101

## Ngôn ngữ Python

In [15]:
print('Hello Wworld')

Hello Wworld

In [16]:
#Future Value
pv=100
r=0.1
n=7
fv=pv*((1+(r))**n)
print(round(fv,2))

194.87

In [17]:
amount=100
interest=10 #10%=0.01*10
years=7
future_value = amount*((1+(0.01*interest))**years)
print(round(future_value,2))

194.87

In [18]:
#Python Variables
x=2
price=2.5
word='Hello'
word="Hello"
word='''Hello'''
print(x,price,word)
print(f'x={x,type(x)}, price={price,type(price)}, word={word,type(word)}')

2 2.5 Hello
x=(2, <class 'int'>), price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [19]:
score=80
if score>=60:
  print("Pass")

Pass

In [21]:
x = 2
y = x + 1
print(x,y)

2 3

In [22]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [26]:
x = "Hello World"
print(x,type(x))
x = 2
print(x,type(x))
x = 2.5
print(x,type(x))
x = 7j
print(x,type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

## Cấu trúc dữ liệu

In [78]:
x = ["apple", "banana", "cherry"] #líst
x.append("hello")
print(x, type(x), x[1:3])

x = ("apple", "banana", "cherry") #tuple
# x.append("hello")
x = ("apple", "banana", "cherry", "hello")
print(x, type(x), x[1:3])

x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x), x['name'], x['age'])

x = {"apple", "banana", "cherry"} #set
x.add('hello')
print(x,type(x))

x = frozenset({"apple", "banana", "cherry"})
print(x,type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tom', 'age': 20} <class 'dict'> Tom 20
{'apple', 'hello', 'banana', 'cherry'} <class 'set'>
frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>

In [36]:
x = True #bool
print(x,type(x))
x = b"Hello" #bytes
print(x,type(x))
x = bytearray(5) #bytearray
print(x,type(x))
x = memoryview(bytes(5)) #memoryview
print(x,type(x), hex(id(x)))
x = None #NoneType
print(x,type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7d3e04f0e740> <class 'memoryview'> 0x7d3e04f0e740
None <class 'NoneType'>

In [37]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [38]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [39]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [41]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [42]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " ,round(BMI,1))

Your BMI is:  20.8

In [43]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [44]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [45]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [49]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'apple', 'banana', 'cherry'} <class 'set'>

In [50]:
#List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [53]:
#Tuple
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [52]:
#sets
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [55]:
#Python Dictionary
#Key → Value
#'EN’ → 'English’
#'FR’ → 'French'
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [81]:
#data structure
fruits = ["apple", "banana", "cherry"] #lists []
print(x, type(x))

colors = ("red", "green", "blue") #tuples ()
print(x, type(x))
animals = {'cat', 'dog'} #sets {}
print(x, type(x))
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(x, type(x))

frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>
frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>
frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>
frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>

In [60]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [66]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
 print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [67]:
# Python Sets
account_numbers = set([acc[1] for acc in accounts]) #set comprehensive
print(account_numbers)
new_account_number = 1004
if new_account_number not in account_numbers:
    print(f'Account number {new_account_number} is not in use.')

{1001, 1002, 1003}
Account number 1004 is not in use.

In [68]:
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"1003": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print('-'*50)
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

--------------------------------------------------
Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------------------------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------------------------------------
Account number: 1003
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Control logic and Loops

In [71]:
#if
score=80
if score>=60:
  print("Pass")

Pass

In [73]:
#if
score=80
if score>=60:
  print("Pass")
else: #score<60
  print('Fail')

Pass

In [74]:
#if
score=80
if score>=90:
  print("A")
elif score >=60 : # score ,90, >60
 print("Pass")
else:
 print("Fail")

Pass

In [76]:
# Python if elif else
score = 90
grade = ""
if score >=90:
 grade = "A"
elif score >= 80: #score [80,90)
 grade = "B"
elif score >= 70: #score [70,80)
 grade = "C"
elif score >= 60: #score [60,70)
 grade = "D"
else:
 grade = "E"
print(grade)

A

In [86]:
for i in range(1,6):
 print(i)

1
2
3
4
5

In [89]:
# for 2 loops
for i in range(1,10): #i:1->9
 for j in range(1,10): #j:1->9
  print(f'{i}* {j}={1*j}')
 print('-'*50)

1* 1=1
1* 2=2
1* 3=3
1* 4=4
1* 5=5
1* 6=6
1* 7=7
1* 8=8
1* 9=9
--------------------------------------------------
2* 1=1
2* 2=2
2* 3=3
2* 4=4
2* 5=5
2* 6=6
2* 7=7
2* 8=8
2* 9=9
--------------------------------------------------
3* 1=1
3* 2=2
3* 3=3
3* 4=4
3* 5=5
3* 6=6
3* 7=7
3* 8=8
3* 9=9
--------------------------------------------------
4* 1=1
4* 2=2
4* 3=3
4* 4=4
4* 5=5
4* 6=6
4* 7=7
4* 8=8
4* 9=9
--------------------------------------------------
5* 1=1
5* 2=2
5* 3=3
5* 4=4
5* 5=5
5* 6=6
5* 7=7
5* 8=8
5* 9=9
--------------------------------------------------
6* 1=1
6* 2=2
6* 3=3
6* 4=4
6* 5=5
6* 6=6
6* 7=7
6* 8=8
6* 9=9
--------------------------------------------------
7* 1=1
7* 2=2
7* 3=3
7* 4=4
7* 5=5
7* 6=6
7* 7=7
7* 8=8
7* 9=9
--------------------------------------------------
8* 1=1
8* 2=2
8* 3=3
8* 4=4
8* 5=5
8* 6=6
8* 7=7
8* 8=8
8* 9=9
--------------------------------------------------
9* 1=1
9* 2=2
9* 3=3
9* 4=4
9* 5=5
9* 6=6
9* 7=7
9* 8=8
9* 9=9
--------------------------------------------------