In [1]:
import numpy as np
a = np.arange(15).reshape(3, 5)
display(a)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [4]:
import pandas as pd
a = pd.DataFrame({"a": [4, 5, 6],
                   "b": [7, 8, 9],
                   "c": [10, 11, 12]}
                  , index = [1, 2, 3])
display(a)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [1]:
import pandas as pd

b = pd.DataFrame([
    {'a': 4, 'b': 5, 'c': 6},
    {'a': 7, 'b': 8, 'c': 9},
    {'a': 10, 'b': 11, 'c': 12}
], index=[1, 2, 3])

display(b)

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
s = pd.Series([1,3,5,np.nan,6,8])
s
dates = pd.date_range('20181001',periods=6)
dates

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06'],
              dtype='datetime64[ns]', freq='D')